
        <!-- Frontend Development Checklist -->
        <div class="mb-4">
            <input type="text" v-model="newFrontendDevelopment" @keyup.enter="addItem('frontendDevelopment')" placeholder="Add new item..." class="p-2 border rounded w-3/4">
            <button @click="addItem('frontendDevelopment')" class="p-2 bg-green-600 text-white rounded">Add</button>
        </div>
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="frontendDevelopmentProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">2. Frontend Development</h2>
            <ul>
                <li v-for="(item, index) in filteredFrontendDevelopment" :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        <span :class="{ 'line-through': item.checked }">{{ item.name }}</span>
                    </label>
                    <div class="ml-auto flex">
                        <button @click="deleteItem('frontendDevelopment', index)" class="px-4 py-1 text-white bg-red-500 hover:bg-red-700 rounded mr-2">Delete</button>
                        <button @click="editItem('frontendDevelopment', index)" class="px-4 py-1 text-white bg-blue-500 hover:bg-blue-700 rounded">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="editIndex !== null" class="modal fixed z-50 inset-0 overflow-y-auto">
            <div class="modal-dialog relative p-6 bg-white w-1/2 mx-auto mt-20 rounded-lg">
                <h2 class="text-2xl mb-4">Edit Item</h2>
                <input v-model="editedItem" class="p-2 border rounded w-full mb-4">
                <button @click="updateItem" class="p-2 bg-green-600 text-white rounded">Update</button>
                <button @click="cancelEdit" class="p-2 bg-gray-500 text-white rounded ml-2">Cancel</button>
            </div>
        </div>

        <!-- Backend Development Checklist -->
        <div class="mb-4">
            <input v-model="newBackendDevelopment" placeholder="Add new item..." @keyup.enter="addItem('backendDevelopment')" class="p-2 border rounded w-3/4">
            <button @click="addItem('backendDevelopment')" class="p-2 bg-green-600 text-white rounded">Add</button>
        </div>
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="backendDevelopmentProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">3. Backend Development</h2>
            <ul>
                <li v-for="(item, index) in filteredBackendDevelopment" :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        <span :class="{ 'line-through': item.checked }">{{ item.name }}</span>
                    </label>
                    <div class="ml-auto flex">
                        <button @click="deleteItem('backendDevelopment', index)" class="px-4 py-1 text-white bg-red-500 hover:bg-red-700 rounded mr-2">Delete</button>
                        <button @click="editItem('backendDevelopment', index)" class="px-4 py-1 text-white bg-blue-500 hover:bg-blue-700 rounded">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="editIndex !== null" class="modal fixed z-50 inset-0 overflow-y-auto">
            <div class="modal-dialog relative p-6 bg-white w-1/2 mx-auto mt-20 rounded-lg">
                <h2 class="text-2xl mb-4">Edit Item</h2>
                <input v-model="editedItem" class="p-2 border rounded w-full mb-4">
                <button @click="updateItem" class="p-2 bg-green-600 text-white rounded">Update</button>
                <button @click="cancelEdit" class="p-2 bg-gray-500 text-white rounded ml-2">Cancel</button>
            </div>
        </div>  

        <!-- DevOps & Deployment Checklist -->
        <div class="mb-4">
            <input v-model="newDevopsDeployment" placeholder="Add new item..." @keyup.enter="addItem('devopsDeployment')" class="p-2 border rounded w-3/4">
            <button @click="addItem('devopsDeployment')" class="p-2 bg-green-600 text-white rounded">Add</button>
        </div>
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="devopsDeploymentProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">4. DevOps & Deployment</h2>
            <ul>
                <li v-for="(item, index) in filteredDevopsDeployment" :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        <span :class="{ 'line-through': item.checked }">{{ item.name }}</span>
                    </label>
                    <div class="ml-auto flex">
                        <button @click="deleteItem('devopsDeployment', index)" class="px-4 py-1 text-white bg-red-500 hover:bg-red-700 rounded mr-2">Delete</button>
                        <button @click="editItem('devopsDeployment', index)" class="px-4 py-1 text-white bg-blue-500 hover:bg-blue-700 rounded">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
        <div v-if="editIndex !== null" class="modal fixed z-50 inset-0 overflow-y-auto">
            <div class="modal-dialog relative p-6 bg-white w-1/2 mx-auto mt-20 rounded-lg">
                <h2 class="text-2xl mb-4">Edit Item</h2>
                <input v-model="editedItem" class="p-2 border rounded w-full mb-4">
                <button @click="updateItem" class="p-2 bg-green-600 text-white rounded">Update</button>
                <button @click="cancelEdit" class="p-2 bg-gray-500 text-white rounded ml-2">Cancel</button>
            </div>
        </div>
        

        <!-- Testing Checklist -->
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="testingProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">5. Testing</h2>
            <ul>
                <li v-for="(item, index) in filteredTesting"  :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        {{ item.name }}
                    </label>
                </li>
            </ul>
        </div>

        <!-- Advanced Concepts Checklist -->
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="advancedConceptsProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">6. Advanced Concepts</h2>
            <ul>
                <li v-for="(item, index) in filteredAdvancedConcepts"  :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        {{ item.name }}
                    </label>
                </li>
            </ul>
        </div>

        <!-- Building Projects Checklist -->
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="buildingProjectsProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">7. Building Projects</h2>
            <ul>
                <li v-for="(item, index) in filteredBuildingProjects"  :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        {{ item.name }}
                    </label>
                </li>
            </ul>
        </div>

        <!-- Continuous Learning Checklist -->
        <div class="relative mb-4">
            <div class="bg-gray-300 rounded h-2">
                <div id="continuousLearningProgress" class="bg-green-600 h-2 rounded" style="width: 0%;"></div>
            </div>
        </div>
        <div class="mb-8 p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">8. Continuous Learning</h2>
            <ul>
                <li v-for="(item, index) in filteredContinuousLearning"  :key="item.name" :class="{ checked: item.checked }" class="flex items-center py-2 px-4 rounded-md transition-all duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                    <label class="flex items-center cursor-pointer w-full hover:text-green-600">
                        <input type="checkbox" v-model="item.checked" @change="saveChecklist" class="mr-2 w-5 h-5 text-green-500 rounded border-gray-300 focus:ring-green-500">
                        {{ item.name }}
                    </label>
                </li>
            </ul>
        </div>  